.App {
	text-align: center;
}

.app-title {
	margin: 3rem 2rem;
	font-size: 5rem;
	color: #0cead0;
	font-family: 'Rock Salt', cursive;
}

.card-lists {
	padding-left: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.card-list {
	background-color: rgba(4, 107, 135, 0.868);
	color: #fff;
	padding: 1rem;
	width: 18rem;
	transition: all 0.3s;
}

.card-list:hover {
	transform: scale(1.05);
}

.search-box {
	padding: 0.5rem;
	border: none;
	border-radius: 5px;
	color: rgb(14, 88, 77);
	font-size: 1rem;
}

.search-box:focus {
	outline: 3px solid rgb(14, 88, 77);
}
